.level .level-item {
  margin-bottom: 50px;
}

:root {
  --background-color: #fefefe;
  --color: #343434;
}

body, .hero-body, .container, p, p.title, h1.has-text-centered, .foo, .gr, .tit, button  {
  background-color: var(--background-color);
  color: var(--color);
  transition: background-color 1000ms linear;
  transition: color 1000ms linear;
}

.foo{
  display: inline-block;
  top: 5px;
  position: absolute;
  padding: 3px;
}

.gr{
  height: 60px;
  margin-top: 10px;
  margin-left: 60px;
  font-style: italic;
}

.btn{
  border: none;
}
/* Header */

.header {
  padding: 5px;
  float: right
}
      .selected {
        width: 50px;
        background-color: #00d1b2;
        color: #fff;
        padding: 5px;
        font-weight: 700;
        font-size: 12px;
        border-radius: 2px;
        cursor: pointer;
      }

      .dropdown {
        position: relative;
        top: calc(100% + 5px);
        left: 0;
        width: 100%;
        border-radius: 2px;
        padding: 5px 0;
        box-shadow: 0 0 10px rgba(#000, 0.2);
      }

        li {
          text-align: center;
          font-size: 12px;
          padding: 5px;
          cursor: pointer;
        }